* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(197, 196, 194);
    box-shadow: 0 15px 19px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

h1 {
    font-size: 40px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    color: #fff;
}

h3 {
    font-size: 30px;
    color: whitesmoke;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.nav {
    width: 100px;
    position: absolute;
    left: 73%;
    margin: 0.3rem;
    border-radius: 20px;
}
.nav li {
    list-style-type: none;
    padding: 1rem;
}
.nav li:hover {
    list-style-type: none;
    background-color: rgb(34, 33, 34);
    transition: all 0.8s ease;
    padding: 1rem;
}

.nav a {
    text-decoration: none;
    color: rgb(58, 27, 27);
    font-size: 17px;
}
.nav a:hover {
    text-decoration: none;
    color: rgb(180, 228, 8);
    font-size: 17px;
}

.instructions {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
}

.instructions p {
    font-size: 18px;
    margin: 0.3rem;
    padding: 0.3rem;
}

#declaration {
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
}

#error {
    margin-left: 4.6rem;
    margin-bottom: 1rem;
    color: red;
}

#btn-press {
    width: 30%;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    margin-left: 2.5rem;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    background-color: rgb(119, 126, 21);
    color: rgb(83, 83, 105);
}

#btn-press:hover {
    width: 30%;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    margin-left: 2.5rem;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    background-color: rgb(76, 82, 2);
    color: rgb(54, 54, 87);
    transition: all 0.8s ease;
}